<mat-card >

  <form class="example-form" >

    <mat-form-field class="example-full-width">
      <mat-label>Data de Início</mat-label>
      <input matInput #message maxlength="10" placeholder="Ex. XX/XX/XXXX">
      <mat-hint align="start"><strong>Inserir a data de início</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Data de Término</mat-label>
      <input matInput #message maxlength="10" placeholder="Ex. XX/XX/XXXX ou em processo">
      <mat-hint align="start"><strong>Inserir a data de término</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo de Obra</mat-label>
      <input matInput #message maxlength="30" placeholder="Ex. Residencial ou industrial">
      <mat-hint align="start"><strong>Inserir o tipo da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Porte</mat-label>
      <input matInput #message maxlength="30" placeholder="Ex. 300 metros ao quadrado (m²)">
      <mat-hint align="start"><strong>Informar a metragem da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Endereço</mat-label>
      <input matInput #message maxlength="40" placeholder="Ex. Rua xxxxxx">
      <mat-hint align="start"><strong>Informar o endereço</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 40</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Bairro</mat-label>
      <input matInput #message maxlength="20" placeholder="Ex. Centro">
      <mat-hint align="start"><strong>Informar o bairro da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cidade</mat-label>
      <input matInput #message maxlength="20" placeholder="Ex. São Paulo">
      <mat-hint align="start"><strong>Informar a acidade da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Estado</mat-label>
      <input matInput #message maxlength="20" placeholder="Ex. São Paulo">
      <mat-hint align="start"><strong>Informar o estado da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Número</mat-label>
      <input matInput #message maxlength="5" placeholder="Ex. XXX">
      <mat-hint align="start"><strong>Informar o número da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 5</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>CEP</mat-label>
      <input matInput #message maxlength="10" placeholder="Ex. XXXXX-XXX">
      <mat-hint align="start"><strong>Informar o CEP da localização da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Aviso</mat-label>
      <input matInput #message maxlength="300" placeholder="Ex. Os tais documentos estão faltando...">
      <mat-hint align="start"><strong>Avisos da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Progresso</mat-label>
      <input matInput #message maxlength="300" placeholder="Ex. Primeira estapa está em processo...">
      <mat-hint align="start"><strong>Descrever o progresso da obra</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Breve Descrição da Obra</mat-label>
      <input matInput #message maxlength="300" placeholder="Ex. Eu gostaria de reformar a cozinha da minha casa, trocar o piso...">
      <mat-hint align="start"><strong>Descrever a obra que pretende fazer</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" class="button">Cadastrar Obrar</button>

  </form>

</mat-card>


